
/**
 * 会员中心 - 左侧列表公共部分
 * --------------------------------------------------
 */

.festival {
    .width {
        margin: 0 auto;
        width: 990px;
    }

    .base-userLeft {
        position: relative;
        width: 210px;
        z-index: 10;
    }
}


