/**
 * 首页轮播图
 * --------------------------------------------------
 */

 .carousels {
    position: relative;
    z-index: 900;
 }

 .carousel {
    position: relative;
    padding-left: 210px;
    margin-bottom: 32px;
    width: 1000px;
    height: 480px;

    .carousel-ul02 {
        position: absolute;
        bottom: 20px;
        left: 549px;
        width: 140px;
        height: 20px;
        li {
            float: left;
            display: inline;
            margin-left: 7px;
            width: 20px;
            height: 20px;
            text-align: center;
            line-height: 20px;
            color: white;
            background-color: #d0d0d0;
            border-radius: 20px;
            cursor: pointer;
            &.hover {
                background-color: $basic;
            }
        }
    }

    .carousel-ad {
        width: 205px;
        height: 480px;
        overflow: hidden;

        .img1 {
            border-bottom: 1px dashed #2a8ef0;
        }
        img {
            border: 0px;
        }
    }

    .carousel-move {
        position: relative;
        width: 795px;
        height: 480px;

        .carousel-ul01 {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 795px;
            height: 480px;

            img {
                width: 795px;
                height: 480px;
                border: 0px;
            }

            li {
                width: 795px;
                height: 480px;
                float: left;
                display: inline;
            }
        }
    }
 }
