<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>require示例</title>
    <link rel="stylesheet" type="text/css" href="/resource/assets/views/base/css/base.css">
    <link rel="stylesheet" type="text/css" href="/resource/assets/views/demo/css/demo.css">
    <script type="text/javascript">
        var BASE = {
            TOP_LEVEL_DOMAIN: '127.0.0.1'
        };
    </script>
    <script type="text/javascript" src="/resource/lib/jquery/jquery-1.11.0.js"></script>
    <script type="text/javascript" src="/resource/lib/jquery.cookie/jquery.cookie.js"></script>
    <script type="text/javascript" src="/resource/lib/avalon/avalon.shim.js"></script>
    <script type="text/javascript" src="/resource/lib/requirejs/require.js"></script>
    <script type="text/javascript" src="/resource/assets/js/tools/tools.string.js"></script>
    <script type="text/javascript" src="/resource/assets/js/tools/tools.cookie.js"></script>
    <script type="text/javascript" src="/resource/assets/js/tools/tools.date.js"></script>
    <script type="text/javascript" src="/resource/assets/js/controllers/checkout-ctrl.js"></script>
    <script type="text/javascript" src="/resource/assets/js/controllers/cart-ctrl.js"></script>
    <script type="text/javascript" src="/resource/assets/js/controllers/login-ctrl.js"></script>
    <script type="text/javascript" src="/resource/assets/js/main.js"></script>
</head>
<body>
    <ul class="list">
        <li class="thumb mv mv"><img class="lazyload j-lazyload" data-original="img/水瓶座 1.20-2.18.jpg" alt=""></li>
        <li class="thumb mv"><img class="lazyload j-lazyload" data-original="img/双鱼座 2.19-3.20.jpg" alt=""></li>
        <li class="thumb mv"><img class="lazyload j-lazyload" data-original="img/白羊座 3.21-4.19.jpg" alt=""></li>
        <li class="thumb mv"><img class="lazyload j-lazyload" data-original="img/金牛座 4.20-5.20.jpg" alt=""></li>
        <li class="thumb mv"><img class="lazyload j-lazyload" data-original="img/双子座 5.21-6.21.jpg" alt=""></li>
        <li class="thumb mv"><img class="lazyload j-lazyload" data-original="img/巨蟹座 6.22-7.22.jpg" alt=""></li>
        <li class="thumb mv"><img class="lazyload j-lazyload" data-original="img/狮子座 7.23-8.22.jpg" alt=""></li>
        <li class="thumb mv"><img class="lazyload j-lazyload" data-original="img/处女座 8.23-9.22.jpg" alt=""></li>
        <li class="thumb mv"><img class="lazyload j-lazyload" data-original="img/天平座 9.23-10.23.jpg" alt=""></li>
        <li class="thumb mv"><img class="lazyload j-lazyload" data-original="img/天蝎座 10.24-11.22.jpg" alt=""></li>
        <li class="thumb mv"><img class="lazyload j-lazyload" data-original="img/射手座 11.23-12.21.jpg" alt=""></li>
        <li class="thumb mv"><img class="lazyload j-lazyload" data-original="img/摩羯座 12.22-1.19.jpg" alt=""></li>
    </ul>


    <script type="text/javascript" src="/resource/assets/views/base/js/top.js"></script>
    <script type="text/javascript" src="/resource/assets/views/base/js/top-category.js"></script>
    <script type="text/javascript" src="/resource/assets/views/base/js/top-search.js"></script>
    <script type="text/javascript" src="/resource/assets/views/base/js/top-minicart.js"></script>
    <script type="text/javascript" src="/resource/assets/views/base/js/bottom-sidebar.js"></script>

    <script type="text/javascript" src="/resource/assets/views/demo/js/demo-require.js"></script>
</body>
</html>
