<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>合并精灵图示例</title>
    <link rel="stylesheet" type="text/css" href="/resource/assets/views/base/css/base.css">
    <link rel="stylesheet" type="text/css" href="/resource/assets/views/demo/css/demo.css">
    <!--[if IE 6]>
        <script type="text/javascript" src="/resource/lib/DD_belatedPNG_0.0.8a.min.js"></script>
        <script type="text/javascript">
            DD_belatedPNG.fix('.png');
        </script>
    <![endif]-->
</head>
<body>
    <span class="png icon icon-1"></span>
    <span class="png icon icon-2"></span>
    <span class="png icon icon-3"></span>
    <span class="png icon icon-4"></span>
    <span class="png icon icon-5"></span>
    <span class="png icon icon-6"></span>
    <span class="png icon icon-nodejs"></span>
</body>
</html>
